# Ignore node_modules directory
node_modules/

# Ignore package-lock.json (if present)
package-lock.json
package.json

# Ignore .env files
.env

# Ignore configuration files
jsconfig.json
next.config.mjs
postcss.config.mjs
tailwind.config.js

